<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sell your MSI laptop here!</h4>
    <p>
      Sign up or log in to request a quote. We accept only brand new laptops
      with competitive prices.
      <span>Turn your laptop into cash today!</span>
    </p>
  </div>
  <div class="form">
    <a href="/request-form"
      ><button type="button" class="btn btn-primary btn-lg fw-bold">
        Sell Here!
      </button></a
    >
  </div>
</section>

<footer class="section-p1">
  <div class="row1">
    <div class="col">
      <img class="logo" src="/img/msi-logo-black.png" alt="" />
      <h4>Contact</h4>
      <p>
        <strong>Adress:</strong> 966 Cleveland Stream, East Vasilikiberg, GA
        39819
      </p>
      <p><strong>Phone:</strong> (663) 344-5531</p>
      <p><strong>Adress:</strong> 10:00 - 20:00, Mon - Sat</p>
      <div class="follow">
        <h4><strong>Follow us</strong></h4>
        <div class="icon">
          <i style="color: #0866ff" class="fab fa-facebook-f"></i>
          <i style="color: #1d9bf0" class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i style="color: #ff0000" class="fab fa-pinterest-p"></i>
          <i style="color: #c8232c" class="fab fa-youtube"></i>
        </div>
      </div>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About Us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Tracjk My Order</a>
      <a href="#">Help</a>
    </div>

    <div class="col install">
      <h4>Install</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <img src="/img/pay/app.jpg" alt="" />
        <img src="/img/pay/play.jpg" alt="" />
      </div>
      <p>Secure Payment Gatewats</p>
      <img src="/img/pay/pay.png" alt="" />
    </div>
  </div>

  <div class="copyright">
    <p>Copyright © 2024 Micro-Star INT'L CO., LTD. All rights reserved.</p>
  </div>
</footer>
