<!-- HERO -->
<section id="hero">
  <img src="img/banner/banner_msi.jpeg" alt="" />
</section>

<section class="msiHome__container">
  <div class="spotLight">
    <h2 class="spotLight__productTitle">Discover the Latest MSI Innovations</h2>

    <div class="spotLight__row">
      <div class="spotLight__col">
        <div class="spotLightCard"></div>
        <a href="" class="cardWrapper">
          <picture class="spotLightImageWrapper">
            <source
              media="(min-width:768px)"
              srcset="img/latest/latest1.jpeg"
            />
            <img
              width="1040"
              height="490"
              class="spotLightImage"
              src="img/latest/latest1.jpeg"
              alt="Raider GE78 HX 13V"
              loading="lazy"
            />
          </picture>
          <div class="card__body center">
            <h3 class="title">Stealth 16 Mercedes-AMG Motorsport A13V</h3>
            <p class="context">Luxury Gaming Experience</p>
          </div>
        </a>
      </div>

      <div class="spotLight__col">
        <div class="spotLightCard"></div>
        <a href="" class="cardWrapper">
          <picture class="spotLightImageWrapper">
            <source
              media="(min-width:768px)"
              srcset="img/latest/latest2.jpeg"
            />
            <img
              width="1040"
              height="490"
              class="spotLightImage"
              src="img/latest/latest2.jpeg"
              alt="Raider GE78 HX 13V"
              loading="lazy"
            />
          </picture>
          <div class="card__body center">
            <h3 class="title">MEG 342C QD-OLED</h3>
            <p class="context">Brilliance Made Possible</p>
          </div>
        </a>
      </div>

      <div class="spotLight__col">
        <div class="spotLightCard"></div>
        <a href="" class="cardWrapper">
          <picture class="spotLightImageWrapper">
            <source
              media="(min-width:768px)"
              srcset="img/latest/latest3.jpeg"
            />
            <img
              width="1040"
              height="490"
              class="spotLightImage"
              src="img/latest/latest3.jpeg"
              alt="Raider GE78 HX 13V"
              loading="lazy"
            />
          </picture>
          <div class="card__body center">
            <h3 class="title">GeForce RTX 4090 SUPRIM X 24G</h3>
            <p class="context">Change The Game</p>
          </div>
        </a>
      </div>

      <div class="spotLight__col">
        <div class="spotLightCard"></div>
        <a href="" class="cardWrapper">
          <picture class="spotLightImageWrapper">
            <source
              media="(min-width:768px)"
              srcset="img/latest/latest4.jpeg"
            />
            <img
              width="1040"
              height="490"
              class="spotLightImage"
              src="img/latest/latest4.jpeg"
              alt="Raider GE78 HX 13V"
              loading="lazy"
            />
          </picture>
          <div class="card__body center">
            <h3 class="title">Raider GE78 HX 13V</h3>
            <p class="context">The First Choice for Professionals</p>
          </div>
        </a>
      </div>

      <div class="spotLight__col">
        <div class="spotLightCard"></div>
        <a href="" class="cardWrapper">
          <picture class="spotLightImageWrapper">
            <source
              media="(min-width:768px)"
              srcset="img/latest/latest5.jpeg"
            />
            <img
              width="1040"
              height="490"
              class="spotLightImage"
              src="img/latest/latest5.jpeg"
              alt="Raider GE78 HX 13V"
              loading="lazy"
            />
          </picture>
          <div class="card__body center">
            <h3 class="title">MEG Z790 ACE</h3>
            <p class="context">Lustrous Aesthetics, Pure Performance</p>
          </div>
        </a>
      </div>

      <div class="spotLight__col">
        <div class="spotLightCard"></div>
        <a href="" class="cardWrapper">
          <picture class="spotLightImageWrapper">
            <source
              media="(min-width:768px)"
              srcset="img/latest/latest6.jpeg"
            />
            <img
              width="1040"
              height="490"
              class="spotLightImage"
              src="img/latest/latest6.jpeg"
              alt="Raider GE78 HX 13V"
              loading="lazy"
            />
          </picture>
          <div class="card__body center">
            <h3 class="title">GeForce RTX 40 GAMING Series</h3>
            <p class="context">Play Hard Stay Silent</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
