<div class="container mt-3">
  <div class="row">
    <div class="column-md-8">
      <h2>Detail Product</h2>
      <% if (!product) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Product does not exist! <br />
        <a href="/contact" class="alert-link fw-normal">Back</a>
      </div>
      <% } else { %>
      <div class="card" style="width: 22rem">
        <img
          src="<%= product.image %>"
          class="card-img-top"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= product.name %></h5>
          <a
            href="/product/edit/<%= product.name %>"
            class="btn btn-info fw-bold d-block mt-3"
            >Edit</a
          >
          <form method="POST" action="/product?_method=DELETE">
            <input type="hidden" name="name" value="<%= product.name %>" />
            <button
              type="submit"
              class="btn btn-danger fw-bold d-block mt-3"
              style="width: 100%"
              onclick="return confirm('Do you want to delete this product?')"
            >
              Delete
            </button>
          </form>
          <a href="/product" class="btn btn-secondary fw-bold d-block mt-3"
            >Back</a
          >
        </div>
      </div>

      <% } %>
    </div>
  </div>
</div>
